@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

.bodyCol{
  background-color:rgb(247, 241, 232);
}
.brownCol{
  background-color: #442929;
}
.txt{
  color: rgb(247, 241, 232);
}
.center{
  position: absolute;
  top: 50%;
  left: 40%;
  margin-top: -50px;
  margin-left: -50px;
  width: 1000px;
  height: 1000px;
}
.active{
  color:rgb(0, 255, 191);
}
.inactive{
  color:#00FF0A ;
}

